.general-wrapper {
    position: relative;
    height: calc(100vh - 200px);
    min-height: 400px;

    .general-container {
        height: 100%;
        width: 100%;
    }

    .functions {
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 10;

        .map-draw, .map-zoom {
            margin-top: 10px;
        }
    }
}