.general-v2 {
    .switcher-control {
        top: .5em;
        right: .5em;

        .btn-switcher-control {
            display: flex;

            button {
                width: 60px !important;
                height: 60px !important;
                display: flex !important;
                align-items: center !important;
                justify-content: center !important;
            }
        }
    }

    .custom-control {
        bottom: 5em;
        right: .5em;

        button {
            width: 2.5em !important;
            height: 2.5em !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }
    }
}


.switcher-layer {
    top: .5em;
    left: .5em;
}

.example-overlay {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    user-select: none;
    pointer-events: none;
    position: absolute;
    width: max-content;
    background-color: white;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 8px;
    border: 1px solid #cccccc;
}

.btn-delete {
    margin-top: 10px;
    width: 100%;
    padding: 5px 0px;
    border-radius: 18px;
    border: 1px solid rgb(229, 229, 229);
    cursor: pointer;
    pointer-events: auto;
}

.btn-delete:hover {
    background-color: rgb(240, 240, 240);
}

.upload-wrapper {
    margin-top: 20px;
    display: flex;
    padding: 16px 24px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    align-self: stretch;
    border-radius: 2px;
    border: 1px dashed var(--Daybreak-Blue-5, #40A9FF);
    background: var(--Neutral-1, #FFF);
    box-shadow: 0px 2px 8px 0px rgba(0, 0, 0, 0.15);

    .upload-file {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
}

.bottom-group-btn {
    margin-top: 20px;
    
}
