.map-view-wrapper {
    height: 350px;

    .map-container {
        height: 100%;
        width: 100%;
    }

    .actions {
        position: absolute;
        right: 10px;
        top: 10px;
        z-index: 10;
    }

    .functions {
        position: absolute;
        right: 10px;
        bottom: 10px;
        z-index: 10;

        .map-draw, .map-zoom {
            margin-top: 10px;
        }
    }
}