.map-draw {
    border-radius: 8px;
    background-color: #ffff;
    width: 40px;

    .items {
        padding: 2px;

        .i-box {
            padding: 8px;
            border-radius: 5px;
            cursor: pointer;

            &.actived {
                background-color: #E6F7FF;
                img {
                    filter: invert(0.4) sepia(1) saturate(5) hue-rotate(185deg);
                }
            }
        }
    }
}