.map-point-wrapper {
    height: 100vh;
    padding: 16px;

    .map-point-content {
        height: 100vh;
        width: 900px;
        display: flex;
        justify-content: center;
        background-color: white;

        .form-wrapper {
            width: 100%;
            padding: 24px;
        }
    }
}